<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Gyroball</string>
    <key>CFBundleDisplayName</key>
    <string>Gyroball</string>
    <key>CFBundleExecutable</key>
    <string>gyroball</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>Gyroball</string>
    <key>CFBundleIconName</key>
    <string>Gyroball</string>
    <key>CFBundleIdentifier</key>
    <string>com.roni.gyroball</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Gyroball needs Bluetooth to connect to your NSD Powerball.</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
